<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script defer src="/js/index.js"></script>
</head>
<body>
    <div class="heading">
        <h1>CSS2JS</h1>
        <p>Convert CSS to JS DOM Manipulation Code</p>
    </div>
    <div class="container">
        <div class="left">
            <p>CSS</p>
            <textarea class="css"></textarea>
            <i class="fa-solid fa-copy"></i>
        </div>
        <div class="middle">
            <button>
                Convert
            </button>
        </div>
        <div class="right">
            <span class="top">
                <p>JS</p>
            </span>
            <textarea class="js"></textarea>
            <i class="fa-solid fa-copy"></i>
        </div>
    </div>
</body>
</html>